img{
    width: 70px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: lowercase;
}

main {
    flex: 1;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}